/* ANCHOR Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /Reset */

/* ANCHOR Commons*/
body {
    background-color: #141922;
    color: #fff;
    overflow: hidden;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

a {
    text-decoration: none;
    transition: 0.2s;
}

li {
    list-style: none;
}
/* /Commons*/

/* ANCHOR Main Page */
main {
    display: flex;
    height: calc(100vh - 60px);
    font-weight: bold;
}

/* ANCHOR Sidebar */
main aside {
    position: relative;
    display: flex;
    z-index: 2;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
    width: 250px;
    background-color: #000;
}

@media screen and (max-width: 1100px) {
    main aside {
        width: 200px;
    }
}


@media screen and (max-width: 600px) {
    main aside {
        width: 50px;
    }
}

main aside .nav a,
main aside .create-playlist a,
main aside .my-list a,
main aside .bottom a {
    color: #707070;
}

main aside .nav a:hover,
main aside .create-playlist a:hover,
main aside .my-list a:hover,
main aside .bottom a:hover {
    color: #fff;
}

/* ANCHOR Logo */
main aside .logo {
    display: flex;
    flex-shrink: 0;
    height: 60px;
    padding: 10px;
}

main aside .logo a {
    transition: 0s;
}

@media screen and (max-width: 600px) {
    main aside .logo {
        height: 50px;
        padding: 0;
    }

    main aside .logo a {
        padding: 10px;
    }
}

main aside .logo img {
    height: 100%;
}

main aside .logo .sm-logo {display: none;}

@media screen and (max-width: 600px) {
main aside .logo .sm-logo {display: block;}
main aside .logo .lg-logo {display: none;}
}
/* /Logo */

/* ANCHOR Navbar */
main aside .nav {
    margin-top: 5px;
    
}

main aside .nav > ul {
    display: flex;
    flex-direction: column;
}

main aside .nav > ul > li {
    position: relative;
}

main aside .nav > ul > li > a {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

main aside .nav > ul > li > a.active {
    color: #fff;
}

main aside .nav > ul > li > a.active::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 4px;
    height: 100%;
    background-color: #ADFF2F;
}

main aside .nav i {
    margin-right: 10px;
    font-size: 1.2em;
}

@media screen and (max-width: 600px) {
    main aside .nav > ul > li > a {
        justify-content: center;
    }
    
    main aside .nav i {
    margin-right: 0;
}
    main aside .nav span {
        display: none;
    }
}
/* /Navbar */

/* ANCHOR Create Playlist */
main aside .create-playlist {
    padding: 10px;
}

main aside .create-playlist > ul {
    display: flex;
    flex-direction: column;
}

main aside .create-playlist > ul > li {
    display: flex;
    padding: 5px 0;
}

main aside .create-playlist > ul > li > a {
    display: flex;
    align-items: center;
} 

main aside .create-playlist > ul > li > a .icon {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #707070;
    color: #000;
    font-size: 1.5em;
    transition: 0.2s;
}

main aside .create-playlist > ul > li > a:hover .icon {
    background-color: #fff;
}

@media screen and (max-width: 600px) {
    main aside .create-playlist {
        display: none;
    }
}
/* /Create Playlist */

/* ANCHOR Playlist */
main aside .my-list {
    overflow: auto;
}

main aside .my-list > ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main aside .my-list > ul > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main aside .my-list > ul > li > a {
    padding: 5px;
}

@media screen and (max-width: 600px) {
    main aside .my-list {
        display: none;
    }
}
/* /Playlist */

/* ANCHOR Bottom */
main aside .bottom {
   margin-top: auto;
}

main aside .bottom > ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main aside .bottom > ul > li {
    display: flex;
    align-items: flex-start;
}

main aside .bottom > ul > li:first-child {
    border-bottom: 1px solid gray;
    font-size: 0.8em;
}

main aside .bottom > ul > li:last-child {
    font-size: 1.2em;
}

main aside .bottom > ul > li > a {
    display: flex;
    padding: 5px 0;
    align-items: center;
}

main aside .bottom > ul > li:last-child > a {
    transition: 0s;
    color: #fff;
}

main aside .bottom > ul > li > a > i {
    margin-right: 5px;
}

main aside .bottom > ul > li:first-child > a > i  {
    background-color: #707070;
    border: 1px solid #707070;
    color: #000;
    border-radius: 50%;
}

main aside .bottom > ul > li:first-child > a:hover i {
    background-color: #fff;
    border: 1px solid #fff;
} 

main aside .bottom > ul > li:last-child > a > i {
    padding: 5px;
    margin-top: 5px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    color: #707070;
}

@media screen and (max-width: 600px) {
    main aside .bottom {
        display: none;
    }
}
/*/Bottom */
/* /Sidebar */

/* ANCHOR Main App */
main .main-app {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .main-app a {
    color: #fff;
}


/* ANCHOR Header */
main .main-app > .header {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 60px;
    top: 0;
    right: 0;
    background-color: rgba(20, 25, 34, 0.9);
    z-index: 1;
}

main .main-app > .header .cta-upgrade {
   border: 2px solid #fff;
   color: #fff;
   border-radius: 25px;
   margin: 20px;
   padding: 5px 30px; 
}

main .main-app > .header .cta-upgrade:hover {
   color: #000;
   background-color: #fff;
   transform: scale(1.1); 
}
/* /Header */

/* ANCHOR Middle */
main .main-app .middle {
    overflow: auto;
}

main .main-app .middle > nav {
    display: block;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    padding: 10px;
}

main .main-app .middle > nav a {
    color: #707070;
}

main .main-app .middle > nav a:hover {
    color: #fff;
}

main .main-app .middle nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .main-app .middle nav > ul > li {
    margin: 10px;
}

main .main-app .middle nav > ul > li > a.active {
    color: #fff;
}
main .main-app .middle nav > ul > li > a.active::after {
    display: block;
    position: relative;
    content: "";
    width: 50%;
    height: 2px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ADFF2F;
}

main .main-app .middle .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* ANCHOR Recent Play */
main .main-app .middle .content .recent-play {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main .main-app .middle .content .recent-play .list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    margin-left: -10px;
}

main .main-app .middle .content .recent-play .list .card {
    display: flex;
    flex-direction: column;
    width: calc(100% / 6);
    max-width: 200px;
    padding-left: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
    main .main-app .middle .content .recent-play .list .card {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 700px) {
    main .main-app .middle .content .recent-play .list .card {
        width: calc(100% / 2);
    }
}

main .main-app .middle .content .recent-play .list .card .album {
    display: flex;
    position: relative;
}

main .main-app .middle .content .recent-play .list .card .album:hover::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
} 

main .main-app .middle .content .recent-play .list .card .album:hover::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-size: 3em;
    content: "\f144";
}

main .main-app .middle .content .recent-play .list .card .album::after {
    display: block;
    content: "";
    padding-top: 100%;
}

main .main-app .middle .content .recent-play .list .card .album img {
    width: 100%;
}

main .main-app .middle .content .recent-play .list .card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

main .main-app .middle .content .recent-play .list .card .info > li {
    display: flex;
    padding: 5px 0;
}

main .main-app .middle .content .recent-play .list .card .info .subtitle a {
    color: #707070;
}

/* /Recent Play */

/* ANCHOR Creato Per Te */
main .main-app .middle .content .for-you {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main .main-app .middle .content .for-you > .header > .title {
    margin-bottom: 5px;
}

main .main-app .middle .content .for-you > .header > .subtitle {
    color: #707070;
}

main .main-app .middle .content .for-you .list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    margin-left: -10px;
}

main .main-app .middle .content .for-you .list .card {
    display: flex;
    flex-direction: column;
    width: calc(100% / 6);
    max-width: 200px;
    padding-left: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
    main .main-app .middle .content .for-you .list .card {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 700px) {
    main .main-app .middle .content .for-you .list .card {
        width: calc(100% / 2);
    }
}

main .main-app .middle .content .for-you .list .card .album {
    display: flex;
}

main .main-app .middle .content .for-you .list .card .album img {
    width: 100%;
}

main .main-app .middle .content .for-you .list .card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
/* /Creato Per Te */

/* ANCHOR Artisti Popolari */
main .main-app .middle .content .artisti-popolari {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main .main-app .middle .content .artisti-popolari > .header > .title {
    margin-bottom: 5px;
}

main .main-app .middle .content .artisti-popolari > .header > .subtitle {
    color: #707070;
}

main .main-app .middle .content .artisti-popolari .list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    margin-left: -20px;
}

main .main-app .middle .content .artisti-popolari .list .card {
    display: flex;
    flex-direction: column;
    width: calc(100% / 6);
    max-width: 200px;
    padding-left: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
    main .main-app .middle .content .artisti-popolari .list .card {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 700px) {
    main .main-app .middle .content .artisti-popolari .list .card {
        width: calc(100% / 2);
    }
}

main .main-app .middle .content .artisti-popolari .list .card .album {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

main .main-app .middle .content .artisti-popolari .list .card .album img {
    width: 100%;
}

main .main-app .middle .content .artisti-popolari .list .card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
/* /Artisti Popolari */
/* /Middle */

/* /Main Page */

/* ANCHOR Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 3;
    background-color: #282828;
    font-weight: bold;
    font-size: 0.8em;
}

/* ANCHOR Player */
footer .player {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

footer .player > li:first-child,
footer .player > li:last-child {
    width: 250px;
    flex-shrink: 0;
}

@media screen and (max-width: 1100px) {
    footer .player > li:first-child,
    footer .player > li:last-child {
    width: 200px;
    }
}

/* ANCHOR Player Left */
footer .player .player-left {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

footer .player .player-left .items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer .player .player-left .items .album {
    display: flex;
}

footer .player .player-left .items .album .item {
    display: flex;
}

footer .player .player-left .items .album .item .image {
    display: flex;
    margin-right: 10px;
}

footer .player .player-left .items .album .item .image img {
    height: 100%;
}

footer .player .player-left .items .album .item .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

footer .player .player-left .items .album .item .info .title a {
    color: #fff;
}

footer .player .player-left .items .album .item .info .subtitle a {
    color: #707070;
    font-size: 0.9em;
}

footer .player .player-left .items .actions {
    display: flex;
    align-items: center;
}

footer .player .player-left .items .actions > li {
    padding: 5px;
}

@media screen and (max-width: 1100px) {
    footer .player .player-left .items .actions {
        flex-direction: column;
        justify-content: center;
    }

    footer .player .player-left .items .actions > li {
        padding: 2.5px;
    }
}

footer .player .player-left .items .actions > li > a {
    color: #707070;
}

footer .player .player-left .items .actions > li > a:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
}

footer .player .player-left .items .actions > #heart > a:hover {
    color: #DC3545;
}

footer .player .player-left .items .actions > #folder > a:hover {
    color: #FFC107;
}

/* /Player Left */

/* ANCHOR Player Center */
footer .player .player-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

footer .player .player-center .player-control {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

footer .player .player-center .player-control .actions {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

footer .player .player-center .player-control .actions > li {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

footer .player .player-center .player-control .actions > li > a {
    color: #fff;
}

footer .player .player-center .player-control .actions > li > a:hover {
    color: #ADFF2F;
    text-shadow: 0px 0px 10px #fff;
}

footer .player .player-center .player-control .actions > li #play-button {
    font-size: 1.5em;
}

footer .player .player-center .player-control .status {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .player .player-center .player-control .status > li {
    padding: 0 10px;
}

footer .player .player-center .player-control .status > li > a {
    color: #fff;
}

footer .player .player-center .player-control .status #current-status {
    display: flex;
    width: 50%;
    height: 5px;
    border-radius: 25px;
    overflow: hidden;
    padding: 0;
}

footer .player .player-center .player-control .status #current-status:hover {
    box-shadow: 0px 0px 3px #fff;
} 

footer .player .player-center .player-control .status #current-status a {
    display: flex;
    width: 100%;
    background-color: #707070;    
}

footer .player .player-center .player-control .status #current-status a::before {
    content: "";
    width: 20%;
    background-color: #fff;
    border-radius: 25px;
}

footer .player .player-center .player-control .status #current-status a:hover::before {
    background-color: #ADFF2F;
    animation: play 220s linear forwards; 
}

@keyframes play {
    0% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}

/* /Player Center */

/* ANCHOR Player Right*/
footer .player .player-right {
    display: flex;
}

footer .player .player-right .media-control {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 10px;
    align-items: center;
}

footer .player .player-right .media-control > li
{
    padding: 0 10px;
} 

footer .player .player-right .media-control > li > a:hover {
    color: #ADFF2F;
    text-shadow: 0px 0px 10px #fff;
}

footer .player .player-right .media-control #volume {
    display: flex;
}

footer .player .player-right .media-control #volume > a {
    display: flex;
}

footer .player .player-right .media-control #volume > a {
    position: relative;
    display: flex;
    flex-direction: column;
}

footer .player .player-right .media-control #volume > a i:first-child {
    float: left;
    color: #fff;
}

footer .player .player-right .media-control #volume > a i:last-child {
    position: absolute;
    color: #ff2f2f;
}

footer .player .player-right .media-control #volume > a:hover i:first-child {
    color: #ADFF2F;
}

footer .player .player-right .media-control #volume > a:focus i:first-child {
    color: rgba(255, 255, 255, 0);
}

footer .player .player-right .media-control #volume > a:not(:focus) i:last-child {
    color: rgba(255, 255, 255, 0);
}

footer .player .player-right .media-control #current-volume {
    display: flex;
    width: 50%;
    height: 5px;
    border-radius: 25px;
    overflow: hidden;
    padding: 0;
}

footer .player .player-right .media-control #current-volume:hover {
        box-shadow: 0px 0px 3px #fff;
}

footer .player .player-right .media-control #current-volume a {
    display: flex;
    width: 100%;
    background-color: #707070;    
}

footer .player .player-right .media-control #current-volume a::before {
    content: "";
    width: 60%;
    background-color: #fff;
    border-radius: 25px;
}

footer .player .player-right .media-control #current-volume a:hover::before {
    background-color: #ADFF2F; 
}

footer .player .player-right .media-control > li > a {
    color: #fff;
}

/* /Player Right*/




/* /Player */



/* /Footer */